.container {
  height: 300px;
  width: max-content;
  position: relative;
  cursor: pointer;
  :hover {
    transform: scale(1.1);
    z-index: 1000;
  }

  img {
    border-radius: 10px;
    height: 250px;
    width: 300px;
  }

  strong {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
    p {
    position: absolute;
    left: 10px;
    top: 20px;
    color: #d3d3dd;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
